<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paper Log Parser</title>
    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Thanks EterNity for the favicon -->
    <link rel="icon" href="https://paper-chan.moe/content/images/size/w256h256/2022/06/Emoji-paperOhhh.png" type="image/png">

    <!-- Embed -->
    {% if data %}
        <meta property="og:title" content="Paper Log Parser">
        <meta property="og:url" content="https://paper.theairplan.com/?url={{url}}">
        {% if data.has_malware %}
            <meta property="og:description" content="Congrats! You have malware!">
        {% else %}
        <meta property="og:description" content="MC Version: {{data.mc_version}}&#x0A;Paper Version: {{data.paper_version}}&#x0A;Offline: {{data.offline}}&#x0A;Plugins: {{data.plugin_count}}">
        <meta name="description" content="MC Version: {{data.mc_version}}&#x0A;Paper Version: {{data.paper_version}}&#x0A;Offline: {{data.offline}}&#x0A;Plugins: {{data.plugin_count}}">
        {% endif %}
        {% if data.offline %}
        <meta name="theme-color" content="#ff0000">
        {% else %}
        <meta name="theme-color" content="#00ff00">
        {% endif %}
    {% endif %}
    <style>
        .scrollable {
            overflow-y: scroll;
        }

        .card-full-height {
            height: 0;
            flex-grow: 1;
        }

        .output {
            background-color: black;
            border-radius: 5px;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Paper Log Parser</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/mja00/paper-log-parser" target="_blank">Source</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Paper Log Parser
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Put the URL of your logs in the box below and press on the parse button!</h5>
                    <div class="card-text">
                        <form action="#" id="logSubmissionForm">
                            <div class="mb-3">
                                <label for="logUrl" class="form-label">Log URL</label>
                                {% if url %}
                                <input type="text" class="form-control" id="logUrl" name="logUrl" value="{{ url }}">
                                {% else %}
                                <input type="text" class="form-control" id="logUrl" placeholder="https://pastes.dev/rorythecat">
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary" id="parseButton">Parse</button>
                        </form>
                    </div>
                    <br>
                    <p class="text-muted text-center">Currently only supports logs from these hosts: <code>paste.gg</code>, <code>pastes.dev</code>, <code>mclo.gs</code>, <code>pastebin.com</code></p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    About
                </div>
                <div class="card-body">
                    <p class="card-text">This is a web app that parses Minecraft server latest.log files. All you need to do is paste in a URL to the log file above and press parse. It will then scan the log and parse out various information about it.</p>
                    <p class="card-text">Currently this parses out the following information:
                        <ul>
                            <li>Minecraft Version</li>
                            <li>Paper Version</li>
                            <li>Server online mode status</li>
                            <li>Plugins</li>
                            <li>Pirated plugins</li>
                            <li>Missing plugin dependencies</li>
                            <li>Exceptions</li>
                        </ul>
                    </p>
                    <p class="card-text">If you wish to link directly to a parsed output just add <code>?url=</code> to the website URL and then paste the log URL.</p>
                    <p class="card-text">Hosted and maintained by <a href="https://github.com/mja00">mja00</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 d-flex flex-column">
            <!-- Output -->
            <div class="card card-full-height">
                <div class="card-header" id="outputHeader">
                    Output
                </div>
                <div class="card-body scrollable">
                    <pre id="output" class="output"></pre>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script>
    // On load check if #logUrl has a value and trigger the parse button
    $(document).ready(function () {
        if ($("#logUrl").val()) {
            $("#parseButton").trigger("click");
        }
    });

    let loadingSpinner = '<div class="spinner-border text-warning" role="status"><span class="visually-hidden">Parsing...</span></div>';
    // Hijack our form submission
    document.querySelector("#logSubmissionForm").addEventListener("submit", function (e) {
        console.log("Form submitted");
        // Disable button
        document.querySelector("#parseButton").disabled = true;
        // Make the button a spinner
        document.querySelector("#parseButton").innerHTML = loadingSpinner;
        e.preventDefault();
        // Get the log URL
        const logUrl = document.querySelector("#logUrl").value;
        // Make a request to the API
        fetch("/parse", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                logUrl: logUrl
            })
        }).then(response => response.json()).then(data => {
            // Check response code
            if (data.success) {
                // Set the output
                var output = data.output;
                // We want to loop through the lines of the output and then append them to the output element
                var outputElement = document.querySelector("#output");
                outputElement.innerHTML = "";
                output.forEach(line => {
                    var convertedLine = ansiColorParse(line);
                    // Parse the convertedLine using jQuery
                    var parsedLine = $.parseHTML(convertedLine);
                    outputElement.appendChild(parsedLine[0]);
                    outputElement.appendChild(document.createElement("br"));
                });
                // Re-enable the button
                document.querySelector("#parseButton").disabled = false;
                document.querySelector("#parseButton").innerHTML = "Parse";

            } else {
                // Set the output to the error message
                document.querySelector("#output").innerHTML = data.error;
                // Re-enable the button
                document.querySelector("#parseButton").disabled = false;
                document.querySelector("#parseButton").innerHTML = "Parse";
            }
            // Update the output header to be "Output - <logUrl> - <date>"
            var outputHeader = document.querySelector("#outputHeader");
            outputHeader.innerHTML = "Output - " + logUrl + " - " + new Date().toLocaleString();
            // Lets be cool and append the logUrl to the URL
            window.history.pushState("object or string", "Title", "?url=" + logUrl);
        });
    });

    var foregroundColors = {
        '30': 'black',
        '31': '#FF5555',
        '32': '#55FF55',
        '33': '#FFFF55',
        '34': '#5555FF',
        '35': '#AA00AA',
        '36': '#55FFFF',
        '37': 'white'
    };

    function ansiColorParse(line) {
        Object.keys(foregroundColors).forEach(function (ansi) {
            let span = '<code style="color: ' + foregroundColors[ansi] + '; padding-left: 2px;">';

            //
            // `\033[Xm` == `\033[0;Xm` sets foreground color to `X`.
            //

            line = line.replace(
                new RegExp('\033\\[' + ansi + 'm', 'g'),
                span
            ).replace(
                new RegExp('\033\\[0;' + ansi + 'm', 'g'),
                span
            );
        });
        //
        // `\033[1m` enables bold font, `\033[22m` disables it
        //
        line = line.replace(/\033\[1m/g, '<b>').replace(/\033\[22m/g, '</b>');

        //
        // `\033[3m` enables italics font, `\033[23m` disables it
        //
        line = line.replace(/\033\[3m/g, '<i>').replace(/\033\[23m/g, '</i>');

        line = line.replace(/\033\[m/g, '</code>');
        line = line.replace(/\033\[0m/g, '</code>');
        return line.replace(/\033\[39m/g, '</code>');
    }
</script>
</body>
</html>